<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="/">Notes App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
       
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/about">About</a>

            </div>

            <div class="navbar ml-auto">
                <a class="nav-item nav-link" href="/users/sgnin">Login</a>
                <a class="nav-item nav-link" href="/users/sgnup">Registre</a>
            </div>
        </div>
      

        <ul>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                  {{#if user}}
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/notes">All notes</a>
                    <a class="dropdown-item" href="/notes/add">Add notes</a>
                    <a class="dropdown-item" href="/users/logout">Logout</a>
                </div>
                    {{/if}}
            </li>

        </ul>
     
    </div>
</nav>